.typed-container span {
    word-spacing: 4px;
    font-size:4rem;
}

.typed-container span:first-of-type {
    margin-right:0.7rem;
    font-weight: lighter !important;
}

.typed-container span:not(:first-of-type) {
    color: red !important;
}

.typed-container {
    margin-top: 6rem !important;
}

#transparent-input {
    border-bottom: 2px solid #0379ae !important;
    color: #fff;
}

.search-container {
    margin-top:14rem;
}

.search-container h1 {
letter-spacing: 2px;
margin-bottom: 1rem;
}

.search-container.hide {
    margin-top: 0;
    display: block !important;
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

.eq-card.ui.card {
  flex: 1; /* Shrink and grow according to available height */
  flex-basis: 0;
}

.ui.button.active {
    background-color: green;
}


@media screen and (max-width: 800px) {
    .typed-container span {
        font-size:3rem;
    }

    .search-container {
        margin-top:7rem;
    }
  }

  @media screen and (max-width: 500px) {
    .typed-container span {
        font-size:2rem;
    }

    .search-container h1{
        font-size:150%;
    }
  }

  @media screen and (max-width: 482px) {
    .right.menu {
        display: flex;
        flex-direction: column;
    }

    .ui.secondary.menu {
        margin-bottom: 2.5rem;
        margin-top:2rem;
    }

    .ui.secondary.menu * {
        line-height: 1rem !important;
    }

    .banner {
        margin-bottom: 2rem !important;
    }
    
    }